.explore__box {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    overflow-y: scroll;


}


.explore__item img {

    width: 150px;
    height: 150px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.084);
    z-index: 10;
    transition: all .4s;
    border-radius: 20px;

}

/* 
.explore__item img:hover {
    margin-top: -10px;
} */

.explore__item h2 {
    font-size: 12px;
    text-align: center;
    color: rgb(101, 101, 101);
}

.explore__item h3 {
    font-size: 10px;
    text-align: center;
}


.controlls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.controlls img:hover{
    transform: scale(1.2);
}

.cursorLeft,
.cursorRight {
    width: 30px;
    cursor: pointer;
    transition: all .5s ;

}
